:root {
  --primary: #152C56;
  --secondary: #1877F2;
  --color-blue-dark: #3499FD;
  --color-blue-medium: #5AB8FF;
  --color-blue-light: #BDE3FF;
  --dark: #000000;
  --light: #FFFFFF;
}
@font-face {
  font-family: Manrope-medium;
  src: url(../font/Manrope-Medium.ttf);
}
@font-face {
  font-family: Manrope-regular;
  src: url(../font/Manrope-Regular.ttf);
}

/* Global css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--dark);
  background-image: var(--light) !important;
  background-color: var(--light) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Manrope-medium;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
.text-primary {
  color: var(--primary) !important;
}   
.text-secondary {
  color: var(--secondary) !important;
}
.text-blue-dark {
  color: var(--color-blue-dark) !important;
}
.text-blue-medium {
  color: var(--color-blue-medium) !important;
}
.text-blue-light {
  color: var(--color-blue-light) !important;
}
.btn-primary {
  background-color: var(--primary) !important;
  color: var(--light) !important;
}
.btn-secondary {
  background-color: var(--secondary) !important;
  color: var(--light) !important;
}   
.btn-blue-dark {
  background-color: var(--color-blue-dark) !important;
  color: var(--light) !important;
}
