:root {
  --primary: #152C56;
  --secondary: #1877F2;
  --color-blue-dark: #3499FD;
  --color-blue-medium: #5AB8FF;
  --color-blue-light: #BDE3FF;
  --dark: #000000;
  --light: #FFFFFF;
}
@font-face {
  font-family: Manrope-medium;
  src: url(../font/Manrope-Medium.ttf);
}
@font-face {
  font-family: Manrope-regular;
  src: url(../font/Manrope-Regular.ttf);
}

/* Global css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--dark);
  background-image: var(--light) !important;
  background-color: var(--light) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Manrope-medium;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
.text-primary {
  color: var(--primary) !important;
}   
.text-secondary {
  color: var(--secondary) !important;
}
.text-blue-dark {
  color: var(--color-blue-dark) !important;
}
.text-blue-medium {
  color: var(--color-blue-medium) !important;
}
.text-blue-light {
  color: var(--color-blue-light) !important;
}
.btn-primary {
  background-color: var(--primary) !important;
  color: var(--light) !important;
}
.btn-secondary {
  background-color: var(--secondary) !important;
  color: var(--light) !important;
}   
.btn-blue-dark {
  background-color: var(--color-blue-dark) !important;
  color: var(--light) !important;
}
.left-panel {
    background: linear-gradient(to bottom, #062B63, #3499FD);
    color: white;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
}

.left-panel .logo {
    margin-bottom: 20px;
}

.left-panel .welcome {
    font-size: 32px;
    font-weight: 700;
    margin-top: 40px;
}

.left-panel .desc {
    font-size: 20px;
    opacity: 0.9;
            
    margin: 10px 25px 30px 25px;
}

.features {
    font-size: 18px;
}

.features i {
    margin-right: 10px;
}

.feature-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    justify-content: center;
}

.feature-group div {
    flex: 0 0 45%;
}

.right-panel {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
}

.form-control:focus {
    box-shadow: none;
}

.login-box {
    max-width: 500px;
    width: 100%;
    border: 1px solid #152C5680;
    padding: 2rem;
    border-radius: 5px;
}

.login-box h3 {
    font-weight: 700;
    font-size: 36px;

}

.login-footer {
    max-width: 500px;
    font-size: 12px;
    color: #666;
}

.login-footer p {
    font-size: 16px;
    font-weight: 400;
}

.login-footer a {
    text-decoration: none;
}

.icon {
    width: 18px;
    margin-right: 8px;
}

.input-group-text {
    backdrop-filter: blur(0px) !important;
}

.input-group {
    border: 1px solid #152C5680;
    border-radius: 5px;
}

.text-justify {
  text-align: justify;
}
.background-image{
  transform: rotate(1deg);
  top: 29%;
  left: -1%;
}